@use './src/assets/styles/colors' as colors;
@use './src/assets/styles/mixins' as mixins;
@use './src/assets/styles/vars' as vars;

.thumbnail {
  width: 100%;
  height: vars.$thumbnail-max-height;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: white;
  @include mixins.thumbnail-shadow-small;

  &:hover {
    @include mixins.thumbnail-shadow-expanded;
    opacity: 1;
  }

  &:hover  &__description {
    opacity: 1;
  }

  @media screen and (max-width: vars.$brk-1200) {
    &__description {
      opacity: 1 !important;
    }
  }

  &__name {
    font-size: 2em;
    margin-bottom: 10px;
    color: colors.$black;
  }
  &__description {
    max-width: 60%;
    margin: 0 auto;
    opacity: 0;
    @include mixins.opacity-none-to-visible;
    color: colors.$grey-dark;

    @media screen and (max-width: vars.$brk-1200) {
      max-width: 85%;
    }
  }
}
