@use './src/assets/styles/colors' as colors;

.footer {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 2em;

  &__links {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;

    &-column {
      display: block;
      margin: 10px;

      &-title {
        font-size: 1.5em;
        color: colors.$black;
      }
      &-link {
        color: colors.$grey-medium-02;
        display: block;
        margin: 10px 0;
      }
    }
  }
}
