.test-wizard {
  &__back {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  &::ng-deep {
    .mat-tab-group {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .mat-tab-header {
      display: none;
    }
    .mat-tab-body-content > * {
      display: flex;
      justify-content: center;
      margin: 10px;
    }
  }
}
