<div class="test-wizard" *ngIf="(test$ | async) as test; else loader">

  <button class="test-wizard__back"
          mat-fab color="primary"
          aria-label="Return to home page"
          (click)="redirectHome()"
  >
    <mat-icon>home</mat-icon>
  </button>

  <mat-tab-group [selectedIndex]="currentStep$ | async"
                 class="test-wizard__tab-group">
    <mat-tab class="test-wizard__tab-group-tab">
      <app-test-intro [test]="test"></app-test-intro>
    </mat-tab>
    <mat-tab class="test-wizard__tab-group-tab">
      <app-test-form [questions]="test.questions"></app-test-form>
    </mat-tab>
    <mat-tab class="test-wizard__tab-group-tab">
      <app-test-result></app-test-result>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
