<mat-card class="test-form">
  <mat-card-subtitle class="test-form__title">Finish test and find out the results...</mat-card-subtitle>
  <mat-card-content class="test-form__content"
                    *ngIf="form"
                    [formGroup]="form">
    <div class="test-form__question"
         *ngFor="let question of questions; let i = index">
      <mat-label class="test-form__question-label">
        {{i + 1}}. {{question.question}}
      </mat-label>
      <mat-form-field class="test-form__question-field"
                      appearance="fill">
        <mat-select class="test-form__question-select"
                    [formControlName]="question.id">
          <mat-option *ngFor="let option of question.options" [value]="option.value">
            {{option.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">
    <button mat-button
            mat-raised-button
            color="primary"
            [disabled]="form.status === 'INVALID'"
            (click)="finish()">
      FINISH
    </button>
  </mat-card-actions>
</mat-card>
