<div class="home">
  <section class="home__intro">
    <div class="home__intro-cover"></div>
    <h3>Psychological testing may sound intimidating, but it's designed to help you.This free personality test is fast and reliable. It is also used commercially by psychologists, career counselors, and other professionals that conduct personality assessment.</h3>
    <h2>{{'or not' | uppercase}}</h2>
  </section>
  <section class="home__tests-list">
    <h1>Try to pass at least 1 test from the list below:</h1>
    <app-test-thumbnails
      class="home__tests-list-item"
      *ngIf="testsPreview$ | async as tests; else loader"
      [tests]="tests"
      (onThumbnailSelected)="selectTheTest($event)"
    ></app-test-thumbnails>
  </section>
  <hr>
  <app-footer></app-footer>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
