@use './src/assets/styles/vars' as vars;

.thumbnails {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  gap: 12px;
  cursor: pointer;

  &__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: vars.$thumbnail-max-width;
    margin: 10px 0;
    border-radius: 10px;

    @media screen and (max-width: vars.$brk-600) {
      width: 100%;
      margin: 10px;
    }
  }
}
