<mat-card class="example-card" *ngIf="test">
  <mat-card-subtitle>Test Name</mat-card-subtitle>
  <mat-card-title>{{test.name}}</mat-card-title>
  <mat-card-content>
    <p>{{test.description}}</p>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">
    <button mat-button
            mat-raised-button
            color="primary"
            (click)="start()">
      START
    </button>
    <a mat-button href="https://www.google.com/" target="_blank" aria-label="Get a coffee first">
      <mat-icon>coffee-to-go</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>

<!--<h1>Test duration:</h1>-->
<!--<small>60 sec.</small>-->

<!--<hr>-->

<!--<h2>Are you ready to start?</h2>-->

