$thumbnail-max-height: 400px;
$thumbnail-max-width: 500px;

// Breakpoints
$brk-1550: 1550px;
$brk-1500: 1500px;
$brk-1440: 1440px;
$brk-1200: 1200px;
$brk-1160: 1160px;
$brk-1100: 1100px;
$brk-1050: 1050px;
$brk-1000: 1000px;
$brk-950: 950px;
$brk-900: 900px;
$brk-850: 850px;
$brk-800: 800px;
$brk-750: 750px;
$brk-700: 700px;
$brk-650: 650px;
$brk-600: 600px;
$brk-550: 550px;
$brk-500: 500px;
$brk-450: 450px;
$brk-400: 400px;
$brk-350: 350px;
$brk-300: 300px;
