@use './src/assets/styles/colors' as colors;

:host {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  color: colors.$grey-darker;
  .loader {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &::ng-deep {
      svg {
        width: 50px;
        height: 50px;
      }
    }
  }
}
