/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1 {
  width: 100%;
  text-align: center;
  background-color: mediumpurple;
  padding: 10px;
  font-family: ProximaNova,Helvetica,Arial,sans-serif;
  font-size: 2em;
}

mat-card-content {
  overflow: hidden;
}
